---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - ingress-nginx.yaml
  # I need MetalLB for LoadBalancer IPs on my bare metal cluster
  - metallb.yaml
