---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - secret.yaml
  - source.yaml
  - kustomization-controller.yaml
  - gatewayclass.yaml
  - gateway.yaml
